<% content_for :title, "Editando artículo" %>

<h1>Editando artículo</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Mostrar este artículo", @article %> |
  <%= link_to "Volver al listado de artículos", articles_path %>
</div>
